body {
    color: #757575;
    background: #ffffff;
    font-family: 'open sans', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #454545;
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: 5%;
    padding:5%;
    background-color: #719a0a;
    border-radius:15px;
}

